body {
    margin: auto;
    width: 100%;
    font-family: 'Raleway';
    color: #333333;
    background-image: url("../images/hero-desktop.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0;
}

.header {
    display: flex;
    padding: 0 15px;
    height: 56px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}

nav {
    display: flex;
    flex-direction: row;
}

.nav,
.download {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.nav li,
.download li {
    margin-left: 40px;
    align-self: center;
}

.nav li a,
.download li a {
    font-size: 12px;
    color: #EE2F3C;
    text-decoration: none;
}

.download li .active {
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(90deg, #FF4B4B 32.78%, #FF5B82 116.67%);
    border-radius: 100px;
    padding: 8px 15px;
}

.hero {
    margin: 84px 0 33px 77px;
}

.hero-title {
    width: 45.85%
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.subtitle {
    font-size: 32px;
}

.footer {
    margin-left: 77px;
}

.caption {
    font-size: 15px;
}

.icons img {
    margin-right: 10px;
}

.mobile {
    display: none;
}


/* mobile view */

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
        background-image: none;
    }
    .header {
        justify-content: space-between;
    }
    .nav {
        display: none;
    }
    .icons {
        flex-wrap: wrap;
    }
    .icons img {
        margin-bottom: 10px;
    }
    .icons .ios {
        width: 115px;
        height: 38px;
    }
    .icons .android {
        width: 138px;
        height: 38px;
    }
    .icons .huawei {
        width: 135px;
        height: 37px;
    }
    .mobile {
        display: flex;
        justify-content: flex-start;
    }
    .hero {
        margin: 30px;
    }
    .hero-title {
        width: 100%;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 24px;
    }
    .caption {
        font-size: 15px;
    }
    .footer {
        margin: 30px 30px 0 30px;
    }
}


/* @media only screen and (min-device-width: 415px) and (max-device-width: 1023px) {
    .hero,
    .footer {
        margin-left: 42px;
    }
    .hero-title {
        width: 582px;
    }
    .subtitle {
        width: 318px;
    }
    .caption {
        width: 322px;
    }
    .icons {
        width: 340px;
    }
    .icons img {
        margin-bottom: 10px;
    }
} */


/* @media only screen and (max-device-width: 1024px) {
    .hero,
    .footer {
        margin-left: 42px;
    } */


/* .hero-title {
        width: 582px;
    } */


/* .subtitle {
        width: 318px;
    } */


/* .caption {
        width: 322px;
    } */


/* .icons {
        width: 340px;
    } */


/* .icons img {
        margin-bottom: 10px;
    } */


/* } */