body {
    margin: auto;
    width: 100%;
    font-family: Raleway;
    color: #333333;
    background-image: url("../img/hero-desktop.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0;
}

.header {
    display: flex;
    padding: 0 15px;
    height: 56px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}

nav {
    display: flex;
    flex-direction: row;
}

.nav,
.download {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.nav li,
.download li {
    margin-left: 40px;
    align-self: center;
}

.nav li a,
.download li a {
    font-size: 12px;
    color: #ee2f3c;
    text-decoration: none;
}

.download li .active {
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(90deg, #ff4b4b 32.78%, #ff5b82 116.67%);
    border-radius: 100px;
    padding: 8px 15px;
}

.hero {
    min-height: 568px;
    padding-top: 2%;
    padding-left: 4%;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.subtitle {
    font-size: 32px;
}

.footer {
    margin-left: 77px;
}

.caption {
    font-size: 15px;
}

.icons img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.row {
    padding: 32px;
}

.mobile {
    display: none;
}


/* mobile view */

@media only screen and (max-width: 1200px) {
    body {
        flex-direction: column;
        background-image: none;
    }
    .nav {
        display: none;
    }
    .hero {
        min-height: 268px;
        padding-left: 2%;
    }
    .mobile {
        display: block;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 24px;
    }
    .caption {
        font-size: 15px;
    }
    .icons .huawei {
        padding-left: 5px;
    }
    section.download .badges .badge-link {
      margin-bottom: 10px;
    }
}